-
    function changeCityToCurrent(data) {
        /** @type {string} */
        const formatedData = data;
        /**
        *@type {object} - регулярное выражение для городов на входе
        */
        const re = new RegExp('\/spb\/|\/moscow\/|\/kazan\/|\/nnovg\/',"g");
        if (re.test(formatedData)) {
            formatedData = data.replace(re, '/current/');
        }
        return formatedData;
    }

    function addUtm(data) {
        let formatedData = data;
        formatedData = changeCityToCurrent(formatedData);
        if (UTM !== '') {
            // Регулярное выражение для поиска уже существующей метки
            var re = new RegExp('from=',"g")
            // Если в ссылке уже есть вопросительный знак
            if (/\?/.test(formatedData)) {
                if (re.test(formatedData)) {
                    console.log('Is it link ok?');
                    return formatedData;
                }
                // добавляем метку через &
                return formatedData + '&' + UTM;
            } else {
                // добавляем метку через ?
                return formatedData + '?' + UTM;
            }
        } else {
            return formatedData;
        }
    }
