block vars
include ../data
include ./_js
include ./_mixins

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
html
    head
        +head
    body
        center.wrapper
            .webkit
                +outlookWrapper({'width':'600'})
                    +table({"class": "outer", "align": "center"})
                        block letter
