mixin head
    meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(meta name="format-detection" content="telephone=no")
    link(rel="stylesheet", href="../style/style.css")
    style.
        a[x-apple-data-detectors=true] {
            color: inherit !important;
            text-decoration: inherit !important;
        }
        /* Windows Phone Viewport Fix */
        @-ms-viewport {
            width: device-width;
        }
        #outlook a
        {
            padding: 0;
        }
        v\:* { behavior: url(#default#VML); display: inline-block; }
    | <!--[if (gte mso 9)|(IE)]><style type="text/css">table {border-collapse: collapse;}</style><![endif]-->

mixin table(attr)
    -
        attr = attr || {}
        attr.width = attr.width || '100%'
    table(cellpadding="0" cellspacing="0" border="0")&attributes(attr)
        block

mixin tr(attr)
    -
        attr = attr || {}
        attr.align = attr.align || 'center'
    tr
        td()&attributes(attr)
            block

mixin a(attr)
    -
        attr = attr || {}
        attr.href = addUtm(attr.href) || ''
    a(target="_blank")&attributes(attr)
        block

mixin hr()
    tr
        td &nbsp;

mixin btn(attr)
    +table({"class":"btn btn-primary", "width": attr.width || '100%'})
        tr
            td: +a({"href": attr.link}): nobr !{attr.title}


mixin btnOutline(attr)
    +table({"class":"btn btn-outline", "width": attr.width || '100%'})
        tr
            td: +a({"href": attr.link}): nobr !{attr.title}

mixin outlookWrapper(attr)
    -
        attr = attr || {}
    <!--[if (gte mso 9)|(IE)]><table width="#{attr.width || 200}"><tr><td width="100%" valign="top"><![endif]-->
        block
    <!--[if (gte mso 9)|(IE)]></td></tr></table><![endif]-->

mixin h1()
    +tr({'class':'text-h1'})
        div: block

mixin p()
    +tr({'class':'text-p'})
        div: block

mixin goods(item)
    // goods
    +table({"class": "goods"})
        +tr({'class':'goods-title'})
            div !{item.title}
    // ./ goods

mixin gridItems(item)
    +table({"class": "grid"})
        +tr({'class':'grid-item'})
            +a({"href":`${item.link}`}) !{item.title}

mixin gridCellWithDifferentWidths(item)
    +table({"class": "grid"})
        +tr({'class':'grid-item'}) !{item.width}

mixin gridWithDifferentInnerContents(item)
    +table({"class": "grid"})
        if item.title
            +tr({'class':'grid-item'}) !{item.title}
        else
            +tr({'class':'grid-item'})
                +a({"href":`${item.link}`})
                    img(src=`${item.src}` alt=`${item.alt}`)

mixin gridRow(mixin, DATA, cells, cellStart, rowWidth)
    -
        mixin = mixin || 'goods'
        DATA = DATA || GRID_GOODS
        cells = cells || 3
        cellStart = cellStart || 0
        rowWidth = rowWidth || 600

        getCells = [cellStart, cellStart + cells]
        cellWidth = Math.round(rowWidth / cells)

        const tableWidth = DATA.reduce(function(sum, curr) {
            let total = rowWidth;
            if (sum.width && curr.width) {
                total = sum.width + curr.width;
            }

            return total;
        });

    +table
        +tr({'class': 'column-wrapper'})
            | <!--[if (gte mso 9)|(IE)]> <table width="#{tableWidth}"><tr><![endif]-->
            each item in DATA.slice(getCells[0], getCells[1])
                | <!--[if (gte mso 9)|(IE)]><td width="#{item.width || cellWidth}" valign="top"><![endif]-->
                +table({"class": "column", 'width': `${item.width || cellWidth}`, 'style': `max-width: ${item.width || cellWidth}px`})
                    +tr
                        +#{mixin}(item)
                | <!--[if (gte mso 9)|(IE)]></td><![endif]-->
            | <!--[if (gte mso 9)|(IE)]></tr></table><![endif]-->
