extends ./_layout

block vars
    -
        const URL = './i/',
              UTM = '',
              LINK = 'https://yandex.ru';

//- PRODUCTION
block letter
    //- =====
    +hr
    //- =====
    +h1 !{DATA.title}
    +p !{DATA.desc}
        +a({"href":`${LINK}`}) !{DATA.linkName}

    +tr({'style':'padding: 20px 0', 'class':'i-r'})
        +a({"href":`${LINK}`})
            img(src=`${DATA.bannerSrc}` alt=`${DATA.bannerAlt}`)

    +tr
        +outlookWrapper({'width':'190'})
            +btn({
                "link": `${LINK}`,
                "title": `${DATA.button}`,
                "width": '190'
            })
    //- =====
    +hr
    //- =====
    +tr
        +gridRow('gridItems', GRID_ITEMS, 2, 1, 300)
    //- =====
    +hr
    //- =====
    +tr
        +gridRow('gridCellWithDifferentWidths', GRID_CELL_WITH_DIFFERENT_WIDTH, 2)
    //- =====
    +hr
    //- =====
    +tr
        +gridRow('gridWithDifferentInnerContents', GRID_WITH_DIFFERENT_INNER_CONTENTS, 2)
    //- =====
    +hr
    //- =====
    +tr
        +gridRow
