/*********************************
** VARS
*********************************/
$mainColor: #30ab80;
$bgColor: #ebebeb;
$mainButtonBackColor: #813589;
$mainButtonColor: #ffffff;
$outlineButtonColor: #ffffff;
$mainLink: #ff0000;

$ffBase: '-apple-system', 'helvetica', Arial, sans-serif;


/*********************************
** COMMON LETTER STYLES
*********************************/
body {
  min-width: 100%;
  padding: 0;
  background-color: $bgColor;
  Margin: 0;
  // background: url(../i/pattern.jpg);
  // background-repeat: repeat;
}

table {
  border-spacing: 0;
}

td {
  padding: 0;
}

a, div, span {
  font-family: $ffBase;
  line-height: 1.2;
}

a {
  text-decoration: none;
  color: $mainLink;
}

img {
  border: 0;
}

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: $bgColor !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  // background: url(../i/pattern.jpg);
  // background-repeat: repeat;
}

.webkit {
  max-width: 600px;
  margin: 0 auto;
}

.outer {
  width: 100%;
  max-width: 600px;
  Margin: 0 auto;
}

.i-r {
  img  {
    display: block;
    max-width: 100%;
    height: auto;
    // margin: 0 auto;
  }
}

.column-wrapper {
  font-size: 0;
  text-align: center;
}

.column {
  display: inline-table;
  width: 100%;
  max-width: 300px; // default value 300, change inline
  vertical-align: top;
}

.fluid {
  padding-right: 0;
  padding-left: 0;
}

/* BUTTONS STYLE */
.btn {
  text-align: center;

  a {
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    display: block;
  }

  td {
    height: 30px;
    vertical-align: middle;
  }

  &-primary {
    background-color: $mainButtonBackColor;
    border-radius: 50px;

    a {
      color: $mainButtonColor;
    }
  }

  &-outline  {
    border: 1px solid $outlineButtonColor;
    border-radius: 50px;

    a {
      color: $outlineButtonColor;
    }
  }
}

/* VALIGN */
.v {
  &-t {
    vertical-align: top;
  }
  &-m {
    vertical-align: middle;
  }
  &-b {
    vertical-align: bottom;
  }
}

/* TEXT */
.text {
  &-h1 {
    div {
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      color: $mainColor;
    }
  }
  &-p {
    div {
      font-size: 16px;
      text-align: center;
      color: $mainColor;
    }
  }
}

/*********************************
** START LETTER
*********************************/
.goods {
  border: 1px solid $mainColor;

  &-title {
    font-size: 20px;
  }
}

.grid {
  border: 1px solid $mainColor;

  &-item {
    font-size: 16px;
  }
}
