/*********************************
** VARS
*********************************/
/*********************************
** COMMON LETTER STYLES
*********************************/
body {
  min-width: 100%;
  padding: 0;
  background-color: #ebebeb;
  Margin: 0; }

table {
  border-spacing: 0; }

td {
  padding: 0; }

a, div, span {
  font-family: "-apple-system", "helvetica", Arial, sans-serif;
  line-height: 1.2; }

a {
  text-decoration: none;
  color: #ff0000; }

img {
  border: 0; }

.wrapper {
  width: 100%;
  table-layout: fixed;
  background-color: #ebebeb !important;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

.webkit {
  max-width: 600px;
  margin: 0 auto; }

.outer {
  width: 100%;
  max-width: 600px;
  Margin: 0 auto; }

.i-r img {
  display: block;
  max-width: 100%;
  height: auto; }

.column-wrapper {
  font-size: 0;
  text-align: center; }

.column {
  display: inline-table;
  width: 100%;
  max-width: 300px;
  vertical-align: top; }

.fluid {
  padding-right: 0;
  padding-left: 0; }

/* BUTTONS STYLE */
.btn {
  text-align: center; }
  .btn a {
    line-height: 30px;
    text-decoration: none;
    font-size: 14px;
    display: block; }
  .btn td {
    height: 30px;
    vertical-align: middle; }
  .btn-primary {
    background-color: #813589;
    border-radius: 50px; }
    .btn-primary a {
      color: #ffffff; }
  .btn-outline {
    border: 1px solid #ffffff;
    border-radius: 50px; }
    .btn-outline a {
      color: #ffffff; }

/* VALIGN */
.v-t {
  vertical-align: top; }

.v-m {
  vertical-align: middle; }

.v-b {
  vertical-align: bottom; }

/* TEXT */
.text-h1 div {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  color: #30ab80; }

.text-p div {
  font-size: 16px;
  text-align: center;
  color: #30ab80; }

/*********************************
** START LETTER
*********************************/
.goods {
  border: 1px solid #30ab80; }
  .goods-title {
    font-size: 20px; }

.grid {
  border: 1px solid #30ab80; }
  .grid-item {
    font-size: 16px; }
