-
    const DATA = {
        'title': 'TITLE',
        'desc': 'lorem <b>ipsum</b> ',
        'linkName': 'link',
        'bannerSrc': URL + 'banner.jpg',
        'bannerAlt': 'banner',
        'button': 'button name'
    }

    const GRID_ITEMS = [
        {
            'link': 'https://yandex.ru/1',
            'title': 'first link'
        },
        {
            'link': 'https://yandex.ru/?2',
            'title': 'second link'
        },
        {
            'link': 'https://yandex.ru/3',
            'title': 'third link'
        }
    ]

    const GRID_GOODS = [
        {
            'title': 'first goods'
        },
        {
            'title': 'second goods'
        },
        {
            'title': 'third goods'
        }
    ]

    const GRID_CELL_WITH_DIFFERENT_WIDTH = [
        {
            'width': 150
        },
        {
            'width': 250
        }
    ]

    const GRID_WITH_DIFFERENT_INNER_CONTENTS = [
        {
            'title': 'lorem',
            'width': 300
        },
        {
            'src': URL + 'block-1.jpg',
            'alt': 'block',
            'link': 'https://test.ru/',
            'width': 200
        }
    ]
